<div class="row" [hidden]="isPortfolioDetailsHidden">
  <div class="grid-margin stretch-card col-lg-12" (click)="showAddStock()">
    <div class="card">
      <div class="card-body">

        <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Buy Date</th>
                    <th>Sell Date</th>
                    <th>Stock Name</th>
                    <th>Buy Price</th>
                    <th>Sell Price</th>
                    <th>Quantity</th>
                    <th>Percentage Gain</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>25/5/2018</td>
                    <td>25/6/2018</td>
                    <td>AP</td>
                    <td>456</td>
                    <td>1456</td>
                    <td>100</td>
                    <td>40%</td>
                  </tr>
                  <tr>
                    <td>25/5/2018</td>
                    <td>25/6/2018</td>
                    <td>BTN</td>
                    <td>256</td>
                    <td>556</td>
                    <td>50</td>
                    <td>40%</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>